<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <link rel="stylesheet" href="/static/style.css">
  <title>Document</title>
</head>
<body>
  <ul>
    <li><a href="http://127.0.0.1:5000/profile">Profile</a></li>
    <li><a href="http://127.0.0.1:5000/home">Home</a></li>
    <!-- <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li> -->
    <li style="float:right"><a href="logout">Log-out</a></li>
  </ul>
    <div class="container">
      <img src="{{ img }}" alt="Snow" height="250px" style="width:100%;">
    </div>
    <h3 style="text-align: center;">{{ nam }}</h3>
    <form method="POST">
      <input type="submit" name="submit_button" value="prev" style="margin-left:0%; " {{ status }}>
    <input type="submit" name="submit_button" value="next" style="margin-left: 74%;">
  </form> 
  
</body>
</html>