<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/profile.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Profile</title>
</head>
<body>
    <ul>
        <!-- <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li> -->
        <li><a href="home">Home</a></li>
        <li style="float:right"><a href="logout">Log-out</a></li>
      </ul>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                    <h6 class="f-w-600">{{ uid }}</h6>
                                    <!-- <p>Web Designer</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i> -->
                                </div>
                            </div>
                            <form method="POST" action="profile">                                                  
                            <div class="col-sm-8">
                                <div class="card-block">                                    
                                    
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Personal info</h6>
                                    <div class="row">
                                        <div class="col-sm-6">                                          
                                            <p ><label for="fname" class="m-b-10 f-w-600">Weight</label> </p>
                                            <input type="text" placeholder="{{ weight }}" id="fname" name="weight"><br><br>
                                            <!-- <h6 class="text-muted f-w-400">rntng@gmail.com</h6> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <p ><label for="fname" class="m-b-10 f-w-600">Height</label> </p>
                                            <input type="text" placeholder="{{ height }}" id="fname" name="height"><br><br>                                           
                                            <!-- <h6 class="text-muted f-w-400">98979989898</h6> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <p ><label for="fname" class="m-b-10 f-w-600">BMI</label> </p>
                                            <input type="text" placeholder="{{ BMI }}" id="fname" name="BMI"><br><br>
                                            <!-- <h6 class="text-muted f-w-400">98979989898</h6> -->
                                        </div><div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Goal</p>
                                            <input type="text" placeholder="{{ goal }}" id="fname" name="goal"><br><br>
                                            <!-- Add sign up se dropdown -->
                                            <!-- <h6 class="text-muted f-w-400">98979989898</h6> -->
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <input type="text" placeholder="{{ email }}" id="fname" name="email"><br><br>
                                            <!-- <p class="m-b-10 f-w-600">Recent</p>
                                            <h6 class="text-muted f-w-400">Sam Disuja</h6> -->
                                        </div>                                       
                                    </div>
                                    <input type="submit" value="Submit">
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>