<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='tp.css') }}">
    <link rel="stylesheet" href="../static/tp.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>Document</title>
</head>
<body>
    <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons-->
    <div class="qty mt-5">
        <span class="minus bg-dark">-</span>
        <input type="number" class="count" name="qty" value="1">
        <span class="plus bg-dark">+</span>
    </div>
  
 <script src="../static/tp.js"></script> 
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>