<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="http://127.0.0.1:5000/profile">Profile</a></li>
        <li><a href="http://127.0.0.1:5000/home">Home</a></li>
        <!-- <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li> -->
        <li style="float:right"><a href="logout">Log-out</a></li>
      </ul>
    <div class="container">
        <a href="/workout/arm"><img src="/static/img/chest_1_large.webp" alt="Snow" height="250px" style="width:100%;"></a>
        <div class="centered"><h3 style="color: white;">Arms & Chest</h3></div>
    </div>

    <div class="container">
        <a href="/workout/abs"><img src="/static/img/abs.jfif" alt="Snow" height="250px" style="width:100%;"></a>
        <div class="centered"><h3 style="color: white;">Abs</h3></div>
    </div>

    <div class="container">
        <a href="/workout/chest"><img src="/static/img/back.jfif" alt="Snow" height="250px" style="width:100%;"></a>
        <div class="centered"><h3 style="color: white;">Back & Shoulder</h3></div>
    </div>

    <div class="container">
        <a href="/workout/legs"><img src="/static/img/images (1).jpg" alt="Snow" height="250px" style="width:100%;"></a>
        <div class="centered"><h3 style="color: white;">Legs</h3></div>
    </div>
</body>
</html>